<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <send4shipping>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Send4\Shipping\Model\Carrier\Send4Shipping</model>
                <name>Send4 Shipping Method</name>
                <price>15.00</price>
                <title>Send4 Shipping Method</title>
                <type>I</type>
                <specificerrmsg>Essa forma de entrega não está disponível.</specificerrmsg>
            </send4shipping>
        </carriers>
    </default>
</config>
